[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chardet = "*"
pandas = "*"
numpy = "*"
tqdm = "*"
xlrd = "==1.2.0"
func-helper = {git = "https://github.com/Fumipo-Theta/func_helper"}
iter-helper = {git = "https://github.com/Fumipo-Theta/iter_helper"}

[dev-packages]

[requires]
python_version = "3"
